<!-- Modal -->
<div 
  x-show="showModal" 
  x-transition 
  @keydown.escape.window="showModal = false"

  class="fixed inset-0 flex items-center justify-center z-50 bg-black/60 backdrop-blur-sm"
>
  <div 
  class="bg-white rounded shadow-lg overflow-auto"
  @click.outside="showModal = false"
  >
    <!-- Close Button -->
    <button 
      @click="showModal = false" 
      class="absolute top-4 right-6 text-gray-500 hover:text-black text-2xl"
    >&times;</button>

    <!-- Show image -->
    <template x-if="selectedMedia?.type === 'image'">
      <img 
        :src="selectedMedia.src" 
        class="w-auto h-auto max-w-full rounded shadow"/>
    </template>

    <!-- Show image -->
    <template x-if="selectedMedia?.type === 'video'">
      <video 
        class="rounded shadow-lg w-full h-auto mx-auto" 
        controls 
        autoplay
      >
        <source :src="selectedMedia.src" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </template>
  </div>
</div>
