<!-- Modal -->






<div
  class="fixed inset-0 bg-black/60 backdrop-blur-sm
    flex justify-center items-center z-50"
  x-show="showMediaModal"
  x-cloak
  x-transition
  @keydown.escape.window="showMediaModal = false"
>

<!-- Slide container -->

  <div 
    x-data="{
      active: clickedMedia ? null : 0 ,
      items: {{ medias|length }},
      prev() { this.active = (this.active - 1 + this.items) % this.items; },
      next() { this.active = (this.active + 1) % this.items; },
    }"
    
    class="relative w-10/11 h-full flex justify-center items-center"
    @click.outside="showMediaModal = false">

    <!-- Slides -->
      {% for media in medias %}
      <div 
        class="transition duration-500 ease-in-out max-w-4/5 max-h-full flex justify-center"
        x-effect="if ('{{ media.id }}' === clickedMedia) { 
            active = {{ forloop.counter0 }};
        }"
        x-show="active === {{ forloop.counter0 }}"
        x-cloak
        
      >
          {% if media.is_image %}
            <img src="{{ media.file.url }}" class="object-contain" alt="picture">
          {% else %} 
            <video src="{{ media.file.url }}" class="object-contain" controls></video>
          {% endif %}
      </div>
      {% endfor %}
    

    <!-- Controls -->
    {% if medias|length > 1 %}
      <button @click="prev" class="absolute start-0 -translate-y-1/2 top-1/2 z-30 p-4 text-white bg-transparent hover:scale-120 hover:-translate-x-2 transform transition">
        <i class="bi bi-arrow-left-circle text-4xl "></i>
      </button>
      <button @click="next" class="absolute end-0 -translate-y-1/2 top-1/2 z-30 p-4 text-white bg-transparent hover:scale-120 hover:translate-x-2 transform transition">
        <i class="bi bi-arrow-right-circle text-4xl"></i>
      </button>
    {% endif %}

  </div>
 </div>
