{% extends "account/partials/auth_card.html" %} 
{% load socialaccount %}

{% block auth_content %}
<div id="login-modal-content">

  <h4 class="text-center mb-4">Log in</h4>

  {% include "account/partials/traditional_login.html" %}

  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <div class="relative my-4">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-white"></div>
      </div>
      <div class="relative flex justify-center text-xs">
        <span class="px-2 bg-black text-white">OR CONTINUE WITH</span>
      </div>
    </div>

    {% include 'account/partials/social_providers.html' %}
  {% endif %}

</div>
{% endblock %}
