{% extends "account/partials/auth_card.html" %}

{% block auth_content %}

    <div class="flex justify-center mb-4">
      <img src="/media/defaults/success.png" alt="Turtle Password Reset Succeed" class="w-16 h-16 rounded-full border-2 border-yellow-400 shadow-[0_0_20px_rgba(251,191,36,0.4)]" style="image-rendering: pixelated;">
    </div>    

    <div class="flex justify-around align-items-center mb-4">
      <div class="mx-2">
        <img class="w-12 rounded-full border-2 border-cyan-400 holo-avatar" 
              src="/media/defaults/turtle_hurray.png" 
              alt="A Turtle Hurraying"
              style="image-rendering: pixelated;">
      </div>
      <!-- Celebration particles -->
      <div class="text-yellow-300 text-xl">HURRAY!!</div>

      <div class="mx-2">
        <img class="w-12 rounded-full border-2 border-cyan-400 holo-avatar" 
              src="/media/defaults/turtle_hurray.png" 
              alt="A Turtle Hurraying"
              style="image-rendering: pixelated;">
      </div>
    </div>
    <div class="font-mono text-lg text-center mt-8 px-8">
      <p>Your password has been successfully changed!</p>
    </div>
  
{% endblock %}
