{% extends "account/partials/auth_card.html" %} 
{% load socialaccount %}


{% block auth_content %}

    <h4 class="mb-4 text-center">Sign Up</h4>
        <ul class="list-unstyled text-center mt-2">
            {% get_providers as socialaccount_providers %}
            {% for provider in socialaccount_providers %}
                <li class="my-1">
                <a class="btn btn-outline-dark w-100" href="{% provider_login_url provider.id %}">
                   Continue with {{ provider.name }}
                </a>
                </li>
            {% endfor %}
        </ul>


        <div class="d-flex align-content-center">
            <hr class="flex-fill ">
            <span class="mt-1 mx-1 text-black-50">Or</span>
            <hr class="flex-fill ">
        </div>

        {% include "account/partials/traditional_signup.html" %}

        <p class="mt-4 text-center text-muted">
            Already have an account?
            <a href="{% url 'account_login' %}">Log in here</a>.
        </p>


{% endblock %}
