{% extends "account/partials/auth_card.html" %} 
{% load socialaccount %}


{% block auth_content %}

    <h4 class="font-semibold text-center text-gray-800 mb-6">Sign Up</h4>

    <!-- Social Providers  -->
    {% include 'account/partials/social_providers.html' %}

    <!-- Divider -->
    <div class="relative my-6">
        <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500">Or sign up with email</span>
        </div>
    </div>

    <!-- Traditional Signup -->
    {% include "account/partials/traditional_signup.html" %}

    <!-- Footer Link -->
    <p class="mt-6 text-center text-sm text-gray-600">
    Already have an account?
    <a href="{% url 'account_login' %}" class="text-blue-600 hover:underline font-medium">
        Log in here
    </a>
    </p>

{% endblock %}
