{% extends "network/layout.html" %}
{% block body %}
  <div class="w-full min-h-screen holographic-ocean-bg flex justify-center items-center px-4 py-8">
    <div 
      id="auth-modal-content" 
      @click.outside="showModal = false; $refs.modalContainer.innerHTML = '';"
      class="login-container w-full max-w-md px-6 py-3 rounded-none sm:rounded-xl shadow-2xl text-white"
      style="font-family: 'Press Start 2P', monospace; font-size: 10px;">
      {% block auth_content %}
      {% endblock %}
    </div>
  </div>


{% endblock %}
