<a href="{% url 'profile_edit' %}" class="group">
    <div class="w-16 h-16 bg-[#8B4513] border-4 border-[#3B3B3B] rounded-lg flex items-center justify-center transform transition-transform duration-200 group-hover:scale-110 group-active:scale-100">
        <div class="w-10 h-10 bg-[#FBBF24] border-2 border-[#3B3B3B] rounded-md transform transition-transform duration-200 group-hover:rotate-12">
            <div class="w-full h-full flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-[#3B3B3B]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 16v-2m8-6h2M4 12H2m15.364 6.364l-1.414-1.414M6.05 6.05l-1.414-1.414m12.728 0l-1.414 1.414M6.05 17.95l-1.414 1.414M12 18a6 6 0 100-12 6 6 0 000 12z" />
                </svg>
            </div>
        </div>
    </div>
</a>
{% include 'profiles/partials/edit_btn_toolkit.html' %}
