{% extends 'posts/post/base.html' %}

{% block media_gallery %}
  {% include 'posts/partial/media_gallery.html' with medias=post.ordered_medias %}
{% endblock %}

{% block post_stats %}
  {% include 'posts/partial/post_stats.html' %}
{% endblock %}

{% block comment_section %}

<div 
  id="post-list-comment-section-{{ post.id }}"
  x-ref="commentSection"
  class="border-stone-300"
  :class="commentCount && 'border-y-2 p-3' "
>
{% include 'posts/partial/post_list_comment_section.html' %}  
</div>

{% endblock %}
