

  <!-- Post Modal content -->
  <div 
    class="w-full h-[100vh]" 
    x-data="{ close() { showModal = false; $el.remove(); } }"
    x-init="isPostDetail = true"
    x-ref="commentSection"
    @keydown.escape.window="close()"
    @click.outside="close()"
  >
    {% with toolkit_display_direction="down-left" %}
      {% if post.medias_count %}
        {% include 'posts/post/with_media_slider.html' %}
      {% else %}
        {% include 'posts/post/detail_card.html' %}
      {% endif %}
    {% endwith %}
  </div>
  
