
<div
  id="post-modal"
  x-init="isPostDetail = true"
  x-show="showPostModal"
  x-transition
  class="fixed inset-0 bg-black/60 backdrop-blur-sm
    flex justify-center items-center z-50"
  @keydown.escape.window="showPostModal = false"
>
  <!-- Modal container -->
  <div
    class="w-4/5 h-9/10"
    @click.outside="showPostModal = false"
  >
    {% if post.medias_count %}
      {% include 'posts/post/with_media_slider.html' %}
    {% else %}
      {% include 'posts/post/detail_card.html' %}
    {% endif %}
  </div>
  
</div>
