
{% for album in albums %}
<div class="col-span-1">
  <a 
    class="card h-100 shadow-sm btn" 
    href="{% url 'album_detail' album.pk profile.username %}">
  {% if album.medias.first %}
  <!-- First media as cover -->
   <!-- TODO fix if first one is not image but a video -->
    <img 
      src="{{ album.medias.first.file.url }}" 
      class="card-img-top object-fit-cover" 
      style="height: 180px;" 
      alt="Album cover"
    >
  {% else %}
  <!-- Or default cover -->
  <div 
    class="card-img-top d-flex align-items-center justify-content-center bg-secondary bg-opacity-25" 
    style="height: 180px;"
  >
      <span class="text-muted">No cover</span>
  </div>
  {% endif %}
  <div class="card-body text-center">
      <h5 class="card-title mb-1">{{ album.name }}</h5>
      <p class="text-muted small mb-0">{{ album.medias_count }} photo{{ album.medias_count|pluralize }}</p>
  </div>
  </a>
</div>
{% endfor %}

{% url 'albums_paginate' profile.username as fetch_url %}
{% include 'common/next_media_batch.html' with fetch_url=fetch_url %}
