

{% if request.user.id == profile.user.id %}
  <!-- Create New Album Card -->
  <div class="col-span-1" x-data="{ isHovered: false }">
    {% url 'album_create' as create_media_url %}
    {% include 'albums/add_more_btn.html' %}
  
  </div>
  {% endif %}
  <!-- Fetch first album batch on load -->
  {% if profile.albums_count %}
  <div
    hx-get="{% url 'albums_paginate' profile.username %}"
    hx-target="#media-container"
    hx-swap="beforeend"
    hx-trigger="load"
    @htmx:after-request="if($event.detail.successful) $el.remove();"
  >
    {% include 'profiles/partials/loading.html' %}
  </div>
  {% endif %}


        
 
