
<div class="container-md py-4">

    <hr class="mb-4">

    <div id="albums-container" class="row g-4">
        {% if request.user == profile.user %}
        <div class="col-6 col-md-4 col-lg-3">
          <a href="{% url 'album_create' %}" class="text-decoration-none">
            <div class="card h-100 border-dashed text-center d-flex justify-content-center align-items-center p-3 bg-light">
                <div class="fs-1 text-primary">＋</div>
                <div class="fw-bold">Create New Album</div>
            </div>
          </a>
        </div>
        {% endif %}

        {% if profile.albums_count %}
        <div
          class="col-6 col-md-4 col-lg-3"
          hx-get="{% url 'albums_paginate' profile.username %}"
          hx-target="this"
          hx-swap="outerHTML"
          hx-trigger="load"
         
        >
          {% include 'profiles/partials/loading.html' %}
        </div>
        {% endif %}
        
    </div>
</div>
