
<div class="flex container">
    <div class="grow">

      
      {% for egg_type in eggs %}
        <div class="p-4">
          <div>{{ egg_type.name|title }} Egg:</div>
            {% for egg in egg_type.eggs %}
            <div class="flex items-center justify-between">
                <span>{{ egg.name|title }}</span>
                <div class="flex items-center">
                  <img class="w-12" src="{{ egg.url }}" alt="">
                  <span>X {{ egg.quantity }}</span>
                </div>
        
            </div>
            {% empty %}
              <!-- Place holder for interesting information for user haven't got any eggs yet  -->
            <div>No special eggs yet!</div> 
            {% endfor%}
        </div>
      {% endfor %}

    </div>


    <div class="border-4 flex justify-center items-center p-4 grow"><span>Nest</span></div>
</div>
