
<div class="flex container">
    <div class="grow">

      
      {% for egg_type in eggs %}
        <div class="p-4">
          <div>{{ egg_type.name|title }} Egg:</div>
            {% for egg in egg_type.eggs %}
            <div class="flex items-center justify-between">
                <span>{{ egg.name|title }}</span>
                <div class="flex items-center">
                  <img class="w-12" src="{{ egg.url }}" alt="">
                  <span>X {{ egg.quantity }}</span>
                </div>
        
            </div>
            {% empty %}
              <!-- Place holder for interesting information for user haven't got any eggs yet  -->
            <div>No special eggs yet!</div> 
            {% endfor%}
        </div>
      {% endfor %}

    </div>


    <div class="border-4 flex justify-center items-center p-4 grow"
      x-data="{ 
        isIncubating: {{ is_incubating|yesno:'true,false' }},
        postHatched: false
      }">
      <div class="flex-col items-center">
        <span>Nest</span>
        <div
          x-effect="if(isIncubating) $nextTick(() => $dispatch('egg-fetch-ready'))"
          hx-get="{% url 'egg' %}"
          hx-target="this"
          hx-trigger="egg-fetch-ready"
          hx-swap="innerHTML"
        ></div>
      </div>

        
      <div 
        x-show="postHatched"
        x-cloak
        @post-hatched.window="postHatched = true; console.log($event.detail.postId)"
        class="flex-col items-center"
        >
        <span>Hey, your turtle is finally hatched !!</span>
        <button>Shut up and let me see my baby</button>
      </div>

    </div>
</div>
