

<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <h2 class="text-dark">Photos</h2>
        <a href="{% url 'post_create' %}">Upload New Photo/Video</a>
    </div>

    <!-- Photo Tabs  -->
    <div 
      class="my-3" 
      id="photos-tabs"
      x-data="{ activeTab: '{{ current_photo_tab }}' }"
    >
      <ul class="nav nav-tabs">
        {% for tab in photo_tabs %}
        <li class="nav-item">
          <a 
            class="nav-link"
            :class="{ 'active': activeTab === '{{ tab }}' }"
            @click="activeTab = '{{ tab }}'"
            hx-get="{% url 'profile_photos' profile.username %}"
            hx-vals='{"photo_partial_key": "{{ tab }}"}'
            hx-swap="innerHTML"
            hx-target="#mediaContainer"
            {% if tab == "albums" %}
              hx-push-url="{% url 'profile_photos_albums' profile.username %}"
            {% else %}
              hx-push-url="{% url 'profile_photos' profile.username %}"
            {% endif %}
          >
            {{ tab|title }}
          </a>
          
        </li>
        {% endfor %}
      </ul>
    </div>

      <div class="row g-2" id="mediaContainer">
        {{ photo_content|safe }}
      </div>
</div>
