
{% for media in medias %}
  <div class="col-span-1">

    {% if media.is_image %}
      <div 
        class="aspect-square rounded overflow-hidden shadow-sm cursor-pointer"
        @click="selectedMedia = { type: 'image', src: '{{ media.file.url }}' }; showModal = true"
        >
        <img src="{{ media.file.url }}" alt="Photo" 
        class="w-full h-full object-cover" />
      </div>
    
    {% elif media.is_video %}
      <div 
        class="aspect-square rounded overflow-hidden shadow-sm cursor-pointer"
        @click="selectedMedia = { type: 'video', src: '{{ media.file.url }}' }; showModal = true">
        <video class="w-full h-full object-cover" muted preload="metadata">
          <source src="{{ media.file.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        <!-- Play icon overlay -->
        <div class="absolute inset-0 flex items-center justify-center">
          <i class="bi bi-play-circle-fill text-white text-4xl opacity-75"></i>
        </div>
      </div>
    {% endif %}

  </div>
{% empty %}
  <span class="text-muted">No photos yet! Upload more!</span>
{% endfor %}

{% if page_obj.has_next %}
<div
  class="col-span-1"
  hx-get="{% url 'profile_photos_uploads' profile.username %}"
  hx-vals='{"page": {{ page_obj.next_page_number }}}'
  hx-target="#media-container"
  hx-swap="beforeend"
  hx-trigger="revealed once"
  @htmx:after-request="if($event.detail.successful) $el.remove();"
  >
  {% include 'profiles/partials/loading.html' %}
</div>
{% endif %}
