
{% for media in medias %}
  <div class="col-span-1">

    {% if media.is_image %}
      <div 
        class="aspect-square rounded overflow-hidden shadow-sm cursor-pointer"
        hx-get="{% url 'post_modal' media.post.id %}"
        hx-target="#post-modal"
        hx-swap="outerHTML"
        @click="showPostModal = true; clickedMedia = '{{ media.id }}'"
        >
        <img src="{{ media.file.url }}" alt="Photo" 
        class="w-full h-full object-cover" />
      </div>
    
    {% elif media.is_video %}
      <div 
        class="relative aspect-square rounded overflow-hidden shadow-sm cursor-pointer group"
        hx-get="{% url 'post_modal' media.post.id %}"
        hx-target="#post-modal"
        hx-swap="outerHTML"
        @click="showPostModal = true; clickedMedia = {{ forloop.counter0 }};">
        <video class="w-full h-full object-cover group-hover:brightness-110 transition ease-in-out duration-100" muted preload="metadata">
          <source src="{{ media.file.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        <!-- Play icon overlay -->
        <div class="absolute inset-0 flex items-center justify-center 
         group-hover:scale-125 transform transition ease-in-out duration-100">
          <i class="bi bi-play-circle-fill text-black text-4xl"></i>
        </div>
      </div>
    {% endif %}

  </div>
{% empty %}
  <span class="text-muted">No photos yet! Upload more!</span>
{% endfor %}

{% if page_obj.has_next %}
<div
  class="col-span-1"
  hx-get="{% url 'profile_photos_uploads' profile.username %}"
  hx-vals='{"page": {{ page_obj.next_page_number }}}'
  hx-target="#media-container"
  hx-swap="beforeend"
  hx-trigger="revealed once"
  @htmx:after-request="if($event.detail.successful) $el.remove();"
  >
  {% include 'profiles/partials/loading.html' %}
</div>
{% endif %}
