<div class="flex justify-around items-center p-2 mt-4 border-t-2 border-b-2 border-stone-300 bg-transparent">

  <!-- Like Button -->
  <div 
    class="flex items-center gap-2 rounded-md px-3 py-2 font-mono text-stone-200 hover:bg-stone-300 hover:text-emerald-700 transition-all duration-150 cursor-pointer"
    {% if request.user.is_authenticated %}
      hx-post="{% url 'post_like' post.id %}"
      hx-target="#post-like-stat-{{ post.id }}"
      hx-swap="outerHTML"
    {% else %}
      hx-get="{% url 'account_login' %}"
      hx-target="#modal-container"
      hx-select="#auth-modal-content"
      @htmx:after-request="if($event.detail.successful) showModal = true;"
    {% endif %}
    >
    <img 
      class="w-6 h-auto"
      :src="postLiked ? '/media/defaults/thumbsup.png': '/media/defaults/nothumbsup.png'" 
      alt="Turtle Thumbsup Image"
    >
    <span 
      x-text="postLiked ? 'Liked' : 'Like'"
      :class="postLiked && 'font-bold text-green-400'"
    ></span> 
  </div>

  <!-- Comment Button -->
  <div href="#" class="flex items-center gap-2 rounded-md px-3 py-2 font-mono text-stone-200 hover:bg-stone-300 hover:text-emerald-700 transition-all duration-150 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
    </svg>
    <span>Comment</span>
  </div>

  <!-- Share Button -->
  <div href="#" class="flex items-center gap-2 rounded-md px-3 py-2 font-mono text-stone-200 hover:bg-stone-300 hover:text-emerald-700 transition-all duration-150 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.684 13.342C8.886 12.938 9 12.482 9 12s-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6.002l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.368a3 3 0 105.367 2.684 3 3 0 00-5.367-2.684z" />
    </svg>
    <span>Share</span>
  </div>

</div>
