<div 
  id="incubating-egg"
  x-show="!displayScreen"
  x-ref="incubatingEgg"
  x-data="{
    startFadeEgg: $persist(false),
    isHatching: false, {# Control egg hatching effect showing #}
    glowStyleIndex: $persist('{{ egg_type }}' !== 'regular' ? Math.floor(Math.random() * 12) + 1 : 0),
    addGlowEffectToPost(postId) {
      const hatchedPost = document.getElementById(`post-${postId}`);
      hatchedPost.classList.add(`glow-scheme-${this.glowStyleIndex}`, 'post-pulsing-glow');
    },
    removeEgg() {
      isIncubating = false;
      $refs.incubatingEgg.remove();
    },
    hatching() {
        this.glowStyleIndex = '{{ egg_type }}' !== 'regular' ? Math.floor(Math.random() * 12) + 1 : 0;
        this.isHatching = true;
        this.startFadeEgg = true; {# Makes egg slowly fade away #}
    },
    waitForHatchingEvent() {
        console.log('Listening to server...');
        let eventSource = new EventSource('{% url "post_hatch_check" %}');
        eventSource.addEventListener('hatch', event => {
            const data = JSON.parse(event.data);
            if (data.post_id === '{{ post_id }}') {
                console.log('boom!')
                this.hatching();
                eventSource.close();
            } else {
                console.log('Post id not matched!');
                console.log(`Even post id: ${data.post_id}`);
                console.log('Template post id: {{ post_id }}');
            }
        });
    }
  }" 
  x-init="waitForHatchingEvent()"

>
   
    <div 
        class="relative"
        :class="startFadeEgg && 'fade-out'"
        x-show="isIncubating"

        @animationend=" if(event.target === $el)  {$dispatch('post-hatched', { postId: '{{ post_id }}'} ); startFadeEgg = false }"
       >
       <!-- Glow effect placeholder -->
        <div 
            :class="`glow-scheme-${glowStyleIndex}`"
            class="absolute -z-1 top-1/2 -translate-y-1/2 left-1/2 transform -translate-x-1/2 pulsing-glow"
            x-show="startFadeEgg"
            x-cloak
            x-transition:enter="transition-opacity ease-in duration-2000"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
        ></div>
        <img
          class="w-85 h-auto mx-auto"
          src="{{ egg_url }}"
          alt="Incubating Egg"
        >
    </div>

      <template x-if="onListPage">
        <div
          id="fetch-hached-post"
          hx-get="{% url 'hatched_post' post_id %}"
          hx-trigger="post-hatched from:window"
          hx-target="#published-posts"
          hx-swap="afterbegin"
          @htmx:after-request="addGlowEffectToPost('{{post_id}}'); removeEgg();">
        </div>
      </template>
</div>

<style>
  .fade-out {
    opacity: 1;
    animation: fadeOut 5s ease-in forwards;
    animation-delay: 5s;
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
</style>
