<div 
  x-ref="incubatingEgg"
  x-data="{
    startFadeEgg: false,
    isHatching: false, {# Control egg hatching effect showing #}
    removeEgg() {
      eggImage = null; 
      $dispatch('post-hatched');
      $refs.incubatingEgg.remove();
    },
    hatching() {
        isIncubating = false;
        this.isHatching = true;
        this.startFadeEgg = true; {# Makes egg slowly fade away #}
    },
    waitForHatchingEvent() {
        console.log('Listening to server...');
        let eventSource = new EventSource('{% url "post_hatch_check" %}');
        eventSource.addEventListener('hatch', event => {
            const data = JSON.parse(event.data);
            if (data.post_id === '{{ post_id }}') {
                console.log('boom!')
                this.hatching();
                eventSource.close();
            } else {
                console.log('Post id not matched!');
                console.log(`Even post id: ${data.post_id}`);
                console.log('Template post id: {{ post_id }}');
            }
        });
    }
  }" 
  x-init="waitForHatchingEvent()"
  hx-get="{% url 'hatched_post' post_id %}"
  hx-trigger="post-hatched"
  hx-target="#hatched-posts"
  hx-swap="afterbegin"
>
    <style>
        .pulsing-glow {
            animation: pulseGlow 2s ease-in-out infinite;
            width: 90px;
            height: 120px;
            margin: auto;
            border-radius: 70% 70% 60% 60% / 80% 80% 60% 60%;
            background: transparent;
            border: 4px solid rgba(255, 255, 255, 0.15);
            box-shadow:
                0 0 20px 5px #fff,
                0 0 40px 10px #ff4d00,
                0 0 60px 20px #ff0066,
                0 0 100px 40px #ffcc00;
    }
    @keyframes pulseGlow {
        0%, 100% {
            box-shadow:
            0 0 20px 5px #fff,
            0 0 40px 10px #ff4d00,
            0 0 60px 20px #ff0066,
            0 0 100px 40px #ffcc00;
        }
        50% {
            box-shadow:
            0 0 10px 2px #fff,
            0 0 20px 5px #ff4d00,
            0 0 30px 10px #ff0066,
            0 0 50px 20px #ffcc00;
        }
    }
    </style>

    <div 
        class="relative"
        x-show="!startFadeEgg"
        x-transition:leave="transition delay-[5s] ease-in duration-5000 opacity-0"
        @transitionend=" if(event.target === $el) removeEgg()"
       >
        <div 
            class="absolute -z-1 top-1/2 -translate-y-1/2 left-1/2 transform -translate-x-1/2 pulsing-glow"
            x-show="isHatching"
            x-transition:enter="transition-opacity ease-in duration-2000"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
        ></div>
        <img
          class="w-60 h-auto mx-auto"
          :src="eggImage"
          alt="Incubating Egg"
        >
    </div>

</div>
