<form 
  x-data="{
  toUploadMedia: { 
    images: [],
    videos: [],
  },
  addMedia(file, type) {
    this.toUploadMedia[type].push({ 
      file: file, 
      url: URL.createObjectURL(file),
      type: type
    });
  },
  removeOldMedia(id, el) {
    this.toDeleteIds.push(id);
    el.remove();
  },
  removeMedia(index, type) {
    // This is to clean up memory
    URL.revokeObjectURL(this.toUploadMedia[type][index].url); 
    this.toUploadMedia[type].splice(index, 1);
    console.log(this.toUploadMedia.images)
  },
  handleMediaUpload(event) {
    const files = Array.from(event.target.files);
    files.forEach(file => {
        if (file.type.startsWith('image/')) this.addMedia(file, 'images');
        if (file.type.startsWith('video/')) this.addMedia(file, 'videos');
    });
  },
  prepareMediaThenSubmit() {
    // Put the newest list in media input before submit
    const imageTransfer = new DataTransfer();
    this.toUploadMedia.images.forEach( image => imageTransfer.items.add(image.file));
    this.$refs.imageInput.files = imageTransfer.files;
   
    const videoTransfer = new DataTransfer();
    this.toUploadMedia.videos.forEach( video => videoTransfer.items.add(video.file));
    this.$refs.videoInput.files = videoTransfer.files;

    $dispatch('mediaReadyToUpload');
    console.log(this.$refs.imageInput.files);

  },
  toDeleteIds: [],
  alertVisible: false, 
  alertMessage: '' ,
  displaySubmitError(evt) {
    this.alertVisible = true;
    this.alertMessage = evt.detail.message;
  }
}"
  x-init="htmx.process($el)"
  hx-post="{% url 'post_edit' post.id %}"
  hx-vals='{"post_type": "list_card"}'
  hx-trigger="mediaReadyToUpload"
  hx-target="#post-{{ post.id }}"
  hx-swap="outerHTML"
  hx-encoding="multipart/form-data"
  enctype="multipart/form-data"
  @post-edit-error="displaySubmitError($event)" 
>

  <!-- Post content edit field -->
  <textarea
    name="content"
    x-effect="if(postEditMode) {
      focusPostEditForm($el);
      resize($el);
    }"
    class="w-full border-none focus:border-none focus:ring-0 !resize-none py-4"
  >{{ post.content }}</textarea>

  <!-- Upload buttons -->
  <div class="flex space-x-4 justify-around mb-4">
    {% include 'posts/partial/media_upload_btn.html' %}
  </div>

  <!-- Display of new uploaded media -->
  <div class="border-2 border-stone-300 rounded-md p-1 my-2">
    <!-- Video -->
    <template x-if="toUploadMedia.videos.length > 0" > 
      <template x-for="(media, index) in toUploadMedia.videos"> 
        <div class="grid grid-cols-1 relative" >
          <video class="w-full h-full object-cover" :src="toUploadMedia.videos[0].url"  preload="metadata" ></video>
          {% include 'posts/partial/media_cancel_btn.html' %}
        </div>
      </template>
    </template>
    <!-- Images -->
    <template x-if="toUploadMedia.images.length > 0">
      <div 
        class="grid" 
        :class="{
          'grid-cols-1': toUploadMedia.images.length === 1,
          'grid-cols-2': toUploadMedia.images.length > 1
        }"
      >
        <template x-for="(media, index) in toUploadMedia.images"> 
          <div
            class="relative"
            :class="{
            {# if 3 items, the first should takes up 2 cols space #}
              'col-span-2': toUploadMedia.images.length === 3 && index === 0,
            }">
            <img class="w-full h-full object-cover" :src="media.url" alt="Image uploaded ">
            {% include 'posts/partial/media_cancel_btn.html' %}
          </div>
        </template>
      </div>
    </template>
   </div>


  <!-- Display current old media  -->
  {% include 'posts/partial/media_gallery.html' with editing=True medias=post.medias.all  %}

  
  <!-- To-delete media field -->
  <input hidden name="delete_media" :value="JSON.stringify(toDeleteIds)" >

  <!-- Done & cancel button -->
  {% include 'posts/partial/post_edit_actions.html' %}

  {% include 'common/alert.html' %}
</form>
