
{% load post_extra %}

<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {% for post in posts %}
          <div class="card mb-4 shadow-sm">
            <!-- Card Header -->
            <div class="card-header d-flex align-items-center bg-white border-bottom">
                <a href="{% url 'profile_about' post.user.profile.username %}">
                  <img src="{{ post.user.profile.profile_picture.url }}"
                      alt="avatar"
                      class="rounded-circle me-3"
                      width="48" height="48">
                </a>
              <div>
                <strong>{{ post.user.profile.username }}</strong><br>
                <small class="text-muted">{{ post.created_at|date:"M d, Y H:i" }}</small>
              </div>
              <!-- Dropdown btn -->
              {% if request.user == post.user %}
                {% include 'posts/partial/dropdown.html' %}
              {% endif %}
            </div>
  
            <!-- Card Body -->
            <div class="card-body">
              <p class="mb-3">{{ post.content }}</p>
  
              {% with post.medias.all as medias %}

                {# Separate out videos #}
                {% for media in medias %}
                  {% if media.is_video %}
                    <div class="mb-3">
                      <video class="w-100 rounded" controls>
                        <source src="{{ media.file.url }}">
                        Your browser does not support the video tag.
                      </video>
                    </div>
                  {% endif %}
                {% endfor %}

                <div id="carousel{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner rounded">
                    {% for media in medias %}
                      <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        {% if media.is_image %}
                          <img src="{{ media.file.url }}" class="img-fluid w-100" alt="media image">
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
  
                  {% if post.medias.count > 1 %}
                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  {% endif %}
                </div>
                {% endwith %}
            </div>
  
            <!-- Card Footer -->
            <div class="card-footer bg-white d-flex justify-content-start align-items-center">
              {% csrf_token %} 
              {% if not request.user.is_authenticated %}
                <a class="btn btn-sm btn-outline-danger border-0" href="{% url 'account_login' %}">
                  <span 
                  >
                    <span>🤍</span>
                </span>
                </a>
              {% else %}
                <a
                class="btn btn-sm btn-outline-danger border-0"
                hx-post="{% url 'post_like' post.id %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-target="#post-like-{{ post.id }}"
                hx-swap="innerHTML"
                x-data="{'liked': {{ post|liked_by_user:request.user|yesno:'true,false' }}}"

                >
                <span 
                  @click="liked = !liked"
                  x-text="liked ? '❤️' : '🤍'"
                  class="heart-transition"
                  >
                </span>
               </a>
              {% endif%}

              <div id="post-like-{{ post.id }}">
                <span class="text-muted ps-1">{{ post.like_count }} Likes</span>
              </div>

              <a href="#" class="text-decoration-none ms-auto">💬 Comment</a>
            </div>
          </div>
        {% empty %}
          <p class="text-center text-muted">No posts to display.</p>
        {% endfor %}
      </div>
    </div>
    <!-- Pagination -->
     <div class="d-flex justify-content-around">
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% elif page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
          <a href="?page={{ page_obj.paginator.start_index }}"> &laquo; First</a>
      {% endif %}
     </div>

  </div>
