
  {% if post.comment_count %}
  

    <a
      class="text-decoration-none block text-muted text-md mb-3 cursor-pointer" 
      hx-get="{% url 'post_modal' post.id %}"
      hx-target="#modal-container"
      x-show="commentCount >= $refs.commentSection.childElementCount"
      x-cloak
      @htmx:after-request="if($event.detail.successful) showModal = true;"
      >See More</a>


    {% for comment in post.latest_two_comments %}
        {% include 'comments/comment.html' %}
    {% endfor %}
    
  {% endif %}
