<div class="d-flex justify-content-start align-items-center px-3 py-2">

  <a
    class="btn btn-outline-danger border-0 p-0"
    {% if request.user.is_authenticated %}
    href="{% url 'account_login' %}"
    hx-post="{% url 'post_like' post.id %}"
    hx-target="#post-like-stat-{{ post.id }}"
    hx-swap="outerHTML"
    {% else %}
     hx-get="{% url 'account_login' %}"
     hx-target="#login-modal-container"
     hx-select="#login-modal-content"
     @htmx:after-request="if($event.detail.successful) showLoginModal = true;"
    {% endif %}
  >
      <span x-text="postLiked ? '❤️' : '🤍'"></span>
  </a>

  <span 
    id="post-like-stat-{{ post.id }}"
    class="text-muted ps-1"
    x-text="postLikeStat"
  ></span>


<a 
  {% if request.user.is_authenticated %}
    hx-get="{% url 'post_modal' post.id %}" 
    hx-target="#post-modal"
    hx-swap="outerHTML"
    @click="showPostModal = true"
  {% else %}
    hx-get="{% url 'account_login' %}"
    hx-target="#login-modal-container"
    hx-select="#login-modal-content"
    @htmx:after-request="if($event.detail.successful) showLoginModal = true;"
  {% endif %}
  class="text-decoration-none ms-auto cursor-pointer"
  ><span id="post-comment-count-{{ post.id }}" x-text="commentCount"></span> 💬</a>
</div>
