<div class="d-flex justify-content-start align-items-center py-2">

  <a
    class="btn hover:scale-120 border-0 p-0"
    {% if request.user.is_authenticated %}
    hx-post="{% url 'post_like' post.id %}"
    hx-target="#post-like-stat-{{ post.id }}"
    hx-swap="outerHTML"
    {% else %}
     hx-get="{% url 'account_login' %}"
     hx-target="#modal-container"
     hx-select="#auth-modal-content"
     @htmx:after-request="if($event.detail.successful) showModal = true;"
    {% endif %}
  >   
    
    <img 
      class="w-8 h-auto" 
      :src="postLiked ? 'media/defaults/thumbsup.png': 'media/defaults/nothumbsup.png'" 
      alt="Turtle Thumbsup Image"
    >

  </a>

  <span 
    id="post-like-stat-{{ post.id }}"
    class="fw-bold ps-1"
    x-text="postLikeStat"
  ></span>


<a 
  {% if request.user.is_authenticated %}
    hx-get="{% url 'post_modal' post.id %}" 
    hx-target="#modal-container"
    @click="showModal = true"
  {% else %}
    hx-get="{% url 'account_login' %}"
    hx-target="#modal-container"
    hx-select="#auth-modal-content"
    @htmx:after-request="if($event.detail.successful) showModal = true;"
  {% endif %}
  class="text-decoration-none ms-auto cursor-pointer"
  ><span id="post-comment-count-{{ post.id }}" x-text="commentCount"></span> 💬</a>
</div>
