<form 
  x-data="{
  toUploadMedia: { 
    images: [],
    videos: [],
  },
  existingMedia: { 
    images: [],
    videos: [],
  },
  get allMedias () {
    return [this.toUploadMedia, this.existingMedia]
  },
  popualateExistingMedia(medias) {
    medias.forEach(media => {
      if(media.type === 'image') this.existingMedia.images.push(media)
      if(media.type === 'video') this.existingMedia.videos.push(media)
    })
  },
  addMedia(file, type) {
    this.toUploadMedia[type].push({ 
      file: file, 
      url: URL.createObjectURL(file),
      type: type
    });
  },
  removeOldMedia(index, media) {
    this.toDeleteIds.push(media.id);
    this.existingMedia[`${media.type}s`].splice(index, 1);
  },
  removeMedia(index, type) {
    // This is to clean up memory
    URL.revokeObjectURL(this.toUploadMedia[type][index].url); 
    this.toUploadMedia[type].splice(index, 1);
  },
  handleMediaUpload(event) {
    const files = Array.from(event.target.files);
    files.forEach(file => {
        if (file.type.startsWith('image/')) this.addMedia(file, 'images');
        if (file.type.startsWith('video/')) this.addMedia(file, 'videos');
    });
  },
  prepareMediaThenSubmit() {
    // Put the newest list in media input before submit
    const imageTransfer = new DataTransfer();
    this.toUploadMedia.images.forEach( image => imageTransfer.items.add(image.file));
    this.$refs.imageInput.files = imageTransfer.files;
   
    const videoTransfer = new DataTransfer();
    this.toUploadMedia.videos.forEach( video => videoTransfer.items.add(video.file));
    this.$refs.videoInput.files = videoTransfer.files;

    $dispatch('mediaReadyToUpload');
  },
  toDeleteIds: [],
  initEditForm() {
    htmx.process($el);

    const mediaObjects = document.getElementById('post-medias-data').textContent;
    const medias = JSON.parse(mediaObjects);
    this.popualateExistingMedia(medias)

  }
}"
  x-init="initEditForm()"
  hx-post="{% url 'post_edit' post.id %}"
  hx-vals='{"post_type": "list_card"}'
  hx-trigger="mediaReadyToUpload"
  hx-target="#post-{{ post.id }}"
  hx-swap="outerHTML"
  hx-encoding="multipart/form-data"
  enctype="multipart/form-data"
  @post-submit-error="displayAlertMessage($event)" 
>
  {{ post.media_objects|json_script:"post-medias-data" }},
  <!-- Post content edit field -->
  <textarea
    name="content"
    x-effect="if(postEditMode) {
      focusPostEditForm($el);
      resize($el);
    }"
    class="w-full border-none focus:border-none focus:ring-0 !resize-none py-4"
  >{{ post.content }}</textarea>

  <!-- Upload buttons -->
  <div class="flex space-x-4 justify-around mb-4">
    {% include 'posts/partial/media_upload_btn.html' %}
  </div>

  <template x-for="m in allMedias">
      <!-- Display of new uploaded media -->
    <div 
      x-show="m.videos.length + m.images.length > 0" 
      x-cloak
      class="border-2 border-stone-300 rounded-md p-1 my-2">
      <!-- Video -->
      <template x-if="m.videos.length > 0" > 
        <template x-for="(media, index) in m.videos"> 
          <div class="grid grid-cols-1 relative" >
            <video class="w-full h-full object-cover" :src="m.videos[0].url"  preload="metadata" ></video>
            {% include 'posts/partial/media_cancel_btn.html' %}
          </div>
        </template>
      </template>
      <!-- Images -->
      <template x-if="m.images.length > 0">
        <div 
          class="grid" 
          :class="{
            'grid-cols-1': m.images.length === 1,
            'grid-cols-2': m.images.length > 1
          }"
        >
          <template x-for="(media, index) in m.images"> 
            <div
              class="relative"
              :class="{
              {# if 3 items, the first should takes up 2 cols space #}
                'col-span-2': m.images.length === 3 && index === 0,
              }">
              <img class="w-full h-full object-cover" :src="media.url" alt="Image uploaded ">
              {% include 'posts/partial/media_cancel_btn.html' %}
            </div>
          </template>
        </div>
      </template>
    </div>
  </template>





  <!-- To-delete media field -->
  <input hidden name="delete_media" :value="JSON.stringify(toDeleteIds)" >

  <!-- Done & cancel button -->
  {% include 'posts/partial/post_edit_actions.html' %}
</form>
