<form 
  x-data="{
  toUploadMedia: { 
    images: [],
    videos: [],
  },
  addMedia(file, type) {
    this.selectedMedia[type].push({ 
        file: file, 
        url: URL.createObjectURL(file),
        type: type
    });
  },
  removeOldMedia(id, el) {
    this.toDeleteIds.push(id);
    el.remove();
    console.log(this.toDeleteIds);
  },
  removeMedia(index, type) {
      // This is to clean up memory
      URL.revokeObjectURL(this.selectedMedia[type][index].url); 
      this.selectedMedia[type].splice(index, 1);
  },
  handleMediaUpload(event) {
    const files = Array.from(event.target.files);
    files.forEach(file => {
        if (file.type.startsWith('image/')) this.addMedia(file, 'images');
        if (file.type.startsWith('video/')) this.addMedia(file, 'videos');
    });
  },
  prepareMediaThenSubmit(form) {
    // Put the newest list in media input before submit
    const imageTransfer = new DataTransfer();
    this.selectedMedia.images.forEach( image => imageTransfer.items.add(image.file));
    this.$refs.imageInput.files = imageTransfer.files;

    const videoTransfer = new DataTransfer();
    this.selectedMedia.videos.forEach( video => videoTransfer.items.add(video.file));
    this.$refs.videoInput.files = videoTransfer.files;
  },
  toDeleteIds: [],
}"
  x-init="htmx.process($el)"
  hx-post="{% url 'post_edit' post.id %}"
  hx-vals='{"post_type": "list_card"}'
  hx-target="#post-{{ post.id }}"
  hx-swap="outerHTML"
  htmx:response-error="console.log('post form submit error')" 
>
  <!-- Post content edit field -->
  <textarea
    name="content"
    x-effect="if(postEditMode) {
      focusPostEditForm($el);
      resize($el);
    }"
    class="w-full border-none focus:border-none focus:ring-0 !resize-none py-4"
  >{{ post.content }}</textarea>
  <!-- Upload buttons -->
  <div class="flex space-x-4 justify-around mb-4">
    {% include 'posts/partial/media_upload_btn.html' %}
  </div>

  <!-- Display current old media  -->
  {% include 'posts/partial/media_gallery.html' with editing=True medias=post.medias.all  %}

  <!-- To delete media field -->
  <input hidden name="delete_media" :value="JSON.stringify(toDeleteIds)" >

  {% include 'posts/partial/post_edit_actions.html' %}
</form>
