{% load post_extra %}
<div 
    class="to-append"
    x-data="{ isHovering: false, editing: false, replying: false}">
    <div 
        class="d-flex"
        @mouseover="isHovering = true"
        @mouseleave="isHovering = false"
        >
        <!-- Profile picture -->
        <img src="{{ comment.profile_picture_url }}" class="rounded-circle me-2" width="36" height="36" alt="">
        
        <!-- Comment  -->
        <div 
            x-show="!editing"
        >   
            <!-- Username and Content -->
            <div class="bg-light rounded px-3 py-2">
                <strong>{{ comment.username }}</strong>
                <p class="mb-1">{{ comment.content|linebreaks }}</p>
            </div>
            <!-- Time and Reply button -->
            <div class="d-flex mb-1">
                <small class="text-muted bg-white">{{ comment.created_at|timesince_simple }}</small>
                <small 
                    class="py-0 btn btn-sm"
                    @click="replying = true">Reply</small>
                {% include 'comments/like_button.html' %}
            </div>

        </div>

        <!-- Comment 3-dot menu -->
        {% if request.user == comment.user %}
            {% include 'comments/dropdown.html' %}
        {% endif %}

        <!-- Edit form (initially hidden) -->
        <form 
            class="flex-grow-1 comment-form" 
            method="post" 
            action="{% url 'comment_edit' comment.id %}" 
            x-data="{ commentBody: '{{ comment.content|escapejs }}' }"
            x-show="editing"
            x-cloak
            x-transition
            @submit="preventSubmit($event)"
            >
            {% csrf_token %}
                {% include 'comments/submit.html' %}
            <a 
                class="btn link-primary link-opacity-50-hover text-decoration-none" 
                @click="editing = false">Cancel</a>

        </form>
    </div>

    <!-- Children replies (Dynamically fetched) -->
    <div id="replies-wrapper-{{ comment.id }}">
        <div class="ps-5" id="replies-{{ comment.id }}"></div>
    </div>
    
    <!-- Replies count  -->
    {% if comment.children_count %}
    <div 
        class="btn btn-sm text-muted ps-5 mb-3"
        x-data="{ showReplies: false }"
        x-show="!showReplies"
        @click="showReplies = true"
        hx-get="{% url 'comment_children' comment.id %}"
        hx-trigger="click"
        hx-target="#replies-{{ comment.id }}"
        hx-swap="innerHTML">See other {{ comment.children_count }} repl{{ comment.children_count|pluralize:'y,ies' }}</div>
    {% endif %}

    <!-- Reply form (initially hidden) -->
    <form 
        class="comment-form ps-5" 
        hx-post="{% url 'comment_create' comment.post.id %}"
        hx-target="#replies-{{ comment.id }}"
        hx-swap="beforeend"
        x-data="{ commentBody: '' }"
        x-show="replying"
        x-cloak
        x-transition
        @htmx:before-request="preventEmptySubmit($event)"
    >
        <!-- Comment submit textarea -->
        {% include 'comments/submit.html' %}
        <!-- Parent comment input -->
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <a 
            class="btn link-primary link-opacity-50-hover text-decoration-none" 
            @click="replying = false">Cancel</a>
    </form>
</div>
