{% load post_extra %}
<div 
    id="comment-{{ comment.id }}"
    x-data="{ 
        isHovering: false, 
        editing: false, 
        replying: false,
        newComment: {{ is_new_comment|yesno:'true,false' }}, 
        isOwner: {% if request.user == comment.user%}true{% else %}false{%endif%},
        setReplyTo() { return this.isOwner ? '' : '@{{ comment.username }} ' },
        liked: {{ comment|liked_by_user:request.user|yesno:'true,false' }}
    }">
    <div 
        class="d-flex"
        @mouseover="isHovering = true"
        @mouseleave="isHovering = false"
        >
        <!-- Profile picture -->
        <img src="{{ comment.profile_picture_url }}" class="rounded-full w-11 h-11 object-cover me-2" alt="">
        
        <!-- Comment  -->
        <div x-show="!editing">   
            <!-- Username and collapsable content -->
            <div
                x-data="{
                    collapse: true,
                    showMore: false,
                    init() {
                        $nextTick(() => this.checkClamp());
                    },
                    checkClamp() {
                        const content = this.$refs.content;
                        this.showMore = content.scrollHeight > content.clientHeight;
                    },
                }"
                x-effect="if(newComment) $nextTick(() => newComment = false)"
                :class="newComment ? 'bg-sky-100' : 'bg-gray-50'"
                class="rounded px-3 py-2  transition-colors duration-1000 delay-1000">
                <strong>{{ comment.username }}</strong>
                <p 
                    class="mb-1"
                    x-ref="content"
                    style="max-width: 20rem;"
                    :class="collapse && 'line-clamp-2'"
                    >{{ comment.content|linebreaksbr }}
                </p>
                {% include 'common/collapse.html' %}
            </div>
            <!-- Time, like & Reply button -->
            <div
                class="flex justify-between mb-1"
                x-data="{ likeCount: {{ comment.like_count }} }"
                >
                <div class="flex self-center">
                    <small class="p-0 me-2 bg-white">{{ comment.created_at|timesince_simple }}</small>

                    <small 
                      class="p-0 me-2 cursor-pointer hover:underline"
                      x-text="liked ? 'Liked' : 'Like'"
                      :class="liked && 'text-primary fw-bold'"
                      {% if request.user.is_authenticated %}
                        hx-post="{% url 'comment_like' comment.id %}"
                        hx-target="#comment-like-stat-{{ comment.id }}"
                        hx-swap="textContent"
                        @comment-like-update="$nextTick(() => { 
                            likeCount = parseInt($refs.likes.innerText); console.log('Like updated');
                            liked = !liked;
                        })"
                      {% else %}
                        @click="window.location.href='{% url "account_login" %}'"
                      {% endif %}>Like</small>
    
                    <small 
                      class="p-0 me-2 cursor-pointer hover:underline"
                    {% if request.user.is_authenticated %}
                      @click="replying = true"
                    {% else %}
                      @click="window.location.href='{% url "account_login" %}'"
                    {% endif %}
                    >Reply</small>
                </div>

                <div x-show="likeCount > 0">
                    <span
                        id="comment-like-stat-{{ comment.id }}"
                        class="text-muted"
                        x-ref="likes"
   
                    >{{ comment.like_count }}</span> 
                    <span>❤️</span> 
                </div>
            </div>

        </div>

        <!-- Comment 3-dot menu -->
        {% if request.user == comment.user %}
            {% include 'comments/dropdown.html' %}
        {% endif %}

        <!-- Edit form (initially hidden) -->
        <form 
            class="flex-grow-1 comment-form" 
            hx-post="{% url 'comment_edit' comment.id %}"
            hx-target="#comment-{{ comment.id }}"
            hx-swap="outerHTML"
            x-data="{commentBody: '{{ comment.content|escapejs }}'}"
            x-show="editing"
            x-trap="editing"
            x-cloak
            x-transition
            @htmx:before-request="preventEmptySubmit($event)"
            >
                {% include 'comments/submit.html' %}
            <a 
                class="btn link-primary link-opacity-50-hover text-decoration-none" 
                @click="editing = false">Cancel</a>

        </form>
    </div>

    <!-- Children replies (Dynamically fetched) -->
    <div id="replies-wrapper-{{ comment.id }}">
        <div class="ps-5" id="replies-{{ comment.id }}"></div>
    </div>
    
    <!-- Show more reply button  -->
    {% if comment.children_count %}
    <div 
        class="btn btn-sm text-muted ps-5 mb-3"
        @click="$nextTick(() => $el.remove())"
        hx-get="{% url 'comment_children' comment.id %}"
        hx-target="#replies-{{ comment.id }}"
        hx-swap="innerHTML">See other {{ comment.children_count }} repl{{ comment.children_count|pluralize:'y,ies' }}
    </div>
    {% endif %}

    <!-- Reply form (initially hidden) -->
    <form 
        class="comment-form ps-5" 
        x-data="{ commentBody: setReplyTo() }"
        x-trap="replying"
        x-show="replying"
        x-cloak
        x-transition
        x-effect="if(replying) commentBody = setReplyTo()"
        @htmx:before-request="preventEmptySubmit($event)"
        hx-post="{% url 'comment_create' comment.post.id %}"
        hx-target="#replies-{{ comment.id }}"
        hx-swap="beforeend"
    >
        <!-- Comment submit textarea -->
        {% include 'comments/submit.html' %}
        <!-- Parent comment input -->
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <a 
            class="btn link-primary link-opacity-50-hover text-decoration-none" 
            @click="replying = false">Cancel</a>
    </form>
</div>
