<div>
    {% for comment in comments %}
        {% include 'comments/comment.html' with comment=comment request=request %}
    {% empty %}
        <div 
            x-show="commentCount == 0"
            class="text-center fs-2 text-muted">
            <div class="fs-4">No Turtles yet...</div>
            <div>Leave your first Turtle!</div>
            <div>🐢</div>
        </div>
    {% endfor %}
    {% if page_obj.has_next %}
        <div
          hx-get="{% url 'comment_list' post.id %}?page={{ page_obj.next_page_number }}"
          hx-trigger="intersect once"
          hx-swap="beforeend"
          hx-target="#load-more-comments"
        ></div>
    {% endif %}
</div>
