<div>
    {% for reply in replies %}
        {% include 'comments/comment.html' with comment=reply request=request post=post padding=50 %}
    {% endfor %}
    {% if page_obj.has_next %}
        <div
          class="btn btn-sm text-muted ps-5"
          x-data="{ showMore: false }"
          @click="showMore = true"
          x-show="!showMore"
          hx-get="{% url 'comment_children' comment.id %}?page={{ page_obj.next_page_number }}"
          hx-trigger="click"
          hx-swap="beforeend"
          hx-target="#replies-{{ comment.id }}"
        >More replies</div>
    {% endif %}
</div>
