
<div>
  <div class="flex items-center holo-form rounded-md p-1 shadow-inner">
    <textarea 
      name="content" 
      class="flex-grow bg-transparent border-none focus:ring-0 overflow-hidden p-2 holo-textarea"
      rows="1"
      required
      style="resize: none;"
      :placeholder="replying ? 'Etch your reply to {{ comment.username }}...' : 'Etch your reply...'  " 
      {% if request.user.is_authenticated %}
        x-ref="textarea"
        x-model="commentBody"
        {% if for_comment_submit %}
          x-effect="if(editing) $nextTick(() => resize($el))"
        {% endif %}
        @input="resize($el)"
      {% else %}
        tabindex="-1"
        hx-get="{% url 'account_login' %}"
        hx-trigger="click"
        hx-target="#modal-container"
        hx-select="#auth-modal-content"
        @htmx:after-request="if($event.detail.successful) showModal = true;"
        {% endif %}
      ></textarea>
    <button 
      class="holo-submit-btn disabled:opacity-50 disabled:cursor-not-allowed transition-all duration-200 p-2"
      type="submit"
      :disabled="commentBody === ''"
      >
      <!-- Etching Chisel Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.5L14.732 5.232z" />
      </svg>
    </button>
  </div>
</div>
