{% extends 'network/layout.html' %}
{% load post_extra %}
{% block body %}
    <div class="container my-5" hx-ext="response-targets">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6" >
          <div class="card shadow-sm">
            <!-- Header -->
            <div class="card-body d-flex align-items-center">
                <img src="{{ post.profile_picture_url }}" class="rounded-full w-15 h-15 object-cover me-3">
                <div>
                    <h6 class="mb-0">{{ post.username }}</h6>
                    <small class="text-muted">{{ post.created_at|timesince_simple }}</small>
                </div>
                {% if request.user == post.user %}
                    {% include 'posts/partial/dropdown.html' %}
                {% endif %}
            </div>
            <!-- Content -->
            <div class="card-body">
                <p class="mb-3"> {{ post.content|linebreaks }} </p>
            </div>
             
            <!-- Like/Comment/Share -->
            <div class="card-footer bg-white border-top">
                <div class="d-flex justify-content-around text-muted small">
                <a href="#" class="text-decoration-none"><i class="bi bi-hand-thumbs-up me-1"></i> Like</a>
                <a href="#" class="text-decoration-none"><i class="bi bi-chat-left me-1"></i> Comment</a>
                <a href="#" class="text-decoration-none"><i class="bi bi-share me-1"></i> Share</a>
                </div>
            </div>


            <!-- Comments - load first batch after load-->
            <div 
              id="comments"
              class="card-body border-top overflow-y-auto"
              style="height: 25rem;"
              hx-get="{% url 'comment_list' post.id %}"
              hx-trigger="load"
              hx-swap="beforeend"
              hx-target="#load-more-comments"
              >
              <div id="load-more-comments"></div>

            </div>
        
            <!-- Add Comment -->
            <div class="card-footer bg-light">
              <form 
                hx-post="{% url 'comment_create' post.id %}"
                hx-target="#load-more-comments"
                hx-swap="afterbegin scroll:#comments:top"
                x-data="{ commentBody: '' }"
                @htmx:before-request="preventEmptySubmit($event)"
                @error="() => { alert($event.detail.value); }"
              >
                {% include 'comments/submit.html' with suffix=post.id %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        
{% endblock %}
